<div class="row">
    <div class="col-3">
        <b>Categories:</b>
        <div class="list-group">
            <a  *ngFor="let c of categories$ | async" 
                (click)="filter(c.name)" 
                routerLink="/" 
                [queryParams]="{ category: c.name}" 
                [class.active]="c.name === selectedCategory" 
                class="list-group-item list-group-item-action">
                {{c.name}}
            </a>

            <a *ngIf="categories$ | async" (click)="filter('')" routerLink="/" class="list-group-item list-group-item-action">- RESET - </a>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <ng-container *ngIf="products.length === 0">
                <p>No cars found for this category</p>
            </ng-container>     
            <ng-contaner *ngFor="let p of products">
                <div class="col">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" [src]="p.image" height="239px"> 
                        <div class="card-body">
                            <h4>{{ p.title }}</h4>
                            <p class="card-text"><b>Category:</b> {{ p.category}} </p>
                            <p class="card-text"><i>{{ p.description}}</i></p>
                            <p  class="card-text"><b>Price:</b> {{ p.price | currency:'GBP':'symbol'}}</p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                    <br/>
                </div>
            </ng-contaner>
        </div>   
    </div>
</div>


