<h2>Order Confirmation</h2>

<!-- Loader -->
<div *ngIf="isLoading">
    <p class="text-center">Porcessing order please wait ...</p>
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
  
<!-- Order confirmation -->
<div *ngIf="order">
    <div class="alert alert-success">
        <p>Your order has been placed successfully.</p>
        <p>Order Id: <b>{{ order.orderId }}</b></p>
    </div>

    <div class="row">
        <div class="col-6 pr-4">
            <h4 class="card-title"> Order Summary</h4>
            <p class="card-text">You have <b>{{ order.totalQuantity  }}</b> items in your cart.</p>      
            <app-order-item [order]="order" ></app-order-item>
        </div>
    </div>
    
</div>