<nav class="navbar navbar-expand-lg navbar-light bg-light">  
  <a class="navbar-brand" routerLink="/">
    <img src="../../assets/images/angular.png" width="50px" height="50px" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="appUser as user; else anonymousUser" ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.name }}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/my-orders">My Orders</a>
            <ng-container *ngIf="user.isAdmin">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/admin/products">List Products</a>
              <a class="dropdown-item" routerLink="/admin/product/new">Add Product</a>
              <div class="dropdown-divider"></div>
            </ng-container>
            <a class="dropdown-item" (click)='logout()' href="">Logout</a>
          </div>
        </li>
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">
            <i class="fas fa-shopping-cart mr-2"></i>
            <span class="badge badge-pill badge-warning" *ngIf="cart$ | async as cart">{{ cart.totalQuantity }} </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>