<h2>Add new product</h2>
<hr>

<form #productForm="ngForm" (ngSubmit)="save(productForm.value)">
    <!-- Title -->
    <div class="form-group">
        <label for="title">Title: </label>
        <input ngModel name="title" id="title" type="text" class="form-control">
    </div>

    <!-- Price -->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">£</span>
            </div>
            <input ngModel name="price" id="price" type="number" class="form-control" aria-describedby="basic-addon1">
        </div>
    </div>

    <!-- Category -->
    <div class="form-group">
        <label for="category">Category: </label>
        <select ngModel name="category" id="category" class="form-control">
            <option *ngFor="let c of categories$ | async" [value]="c.$key">
                {{c.name}}
            </option>
        </select>
    </div>

    <!-- Image -->
    <div class="form-group">
        <label for="image">Image URL:</label>
        <input ngModel name="image" id="image" type="text" class="form-control">
    </div>
    <button class="btn btn-primary btn-sm">Add</button>
</form>