<h2>Add new car</h2>
<hr>

<div *ngIf="product" class="row">

    <!-- FORM -->
    <div class="col-md-7">

        <form #productForm="ngForm" (ngSubmit)="save(productForm.value)">

            <!-- Title -->
            <div class="form-group">
                <label for="title">Title: </label>
                <input [(ngModel)]="product.title" name="title" #title="ngModel" id="title" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    Title is required
                </div>
            </div>

            <!-- description -->
            <div class="form-group">
                <label for="description">Description: </label>
                <input [(ngModel)]="product.description" name="description" #description="ngModel" id="description" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
                    Description is required
                </div>
            </div>
            
              <!-- Image -->
              <div class="form-group">
                <label for="image">Image URL:</label>
                <input [(ngModel)]="product.image" name="image" #image="ngModel" id="image" type="url" class="form-control" required>
                <div class="alert alert-danger" *ngIf="image.touched && image.invalid">
                    Image is required
                </div>
            </div>

            <!-- Category -->
            <div class="form-group">
                <label for="category">Category: </label>
                <select [(ngModel)]="product.category" name="category" #category="ngModel" id="category" class="form-control" required>
                    <option value=""></option>
                    <option *ngFor="let c of categories$ | async" [value]="c.name">
                        {{c.name }}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                    Category is required
                </div>
            </div>
        
              <!-- Price -->
              <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">£</span>
                    </div>
                    <input [(ngModel)]="product.price" name="price" #price="ngModel" id="price" type="number" class="form-control" aria-describedby="basic-addon1" required>
                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    Price is required
                </div>
            </div>

            <button *ngIf="!isUpdate" class="btn btn-product-add btn-sm">Add</button>
            <ng-container *ngIf="isUpdate">
                <button>Update</button>
                <button (click)="delete()" type="button" class="btn btn-danger btn-sm">Delete</button>
            </ng-container>
            <button class="btn btn-warn btn-sm">Back</button>
        </form>

        <div class="msg-success" *ngIf="showAddditionsMsg || showUpdateMsg">    
            <p class="alert alert-success">
                <span *ngIf="showAddditionsMsg">
                    <strong>Car added successfully! </strong>
                </span>
                <span *ngIf="showUpdateMsg">
                    <strong>Update completed. </strong>
                </span>    
                <span>To view listing page click <a routerLink="/admin/products">here</a>.</span>
            </p>
        </div>

    </div>

    <!-- PREVIEW -->
    <div class="col-md-5">
        <div class="card" style="width: 28rem;">
            <img class="card-img-top" [src]="image.value">
            <div class="card-body">
                <h5 class="card-title">Car preview</h5>
                <h6>{{ title.value }}</h6>
                <p class="card-text">{{ description.value }}</p>
                <p class="card-text"><b>Price:</b> {{ price.value | currency:'GBP':true}}</p>
                <p class="card-text"><b>Category:</b> {{ category.value }} </p>
            </div>
        </div>
    </div>
</div>

