<h1>Products Listing</h1>
<hr>

<p> 
    <a routerLink="/admin/product/new" class="btn btn btn-outline-primary btn-sm">Add new product</a>
</p>

<p> 
    <!-- one way binding -->
    <label for="search">Search: </label>
    <input #searchTerm (keyup)="search(searchTerm.value)" type="text" id="search" class="form-control" placeholder="Search by title ..."> 
</p>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>
                <img [src]="p.image" width="50px" height="50px">
            </td>
            <td>{{ p.title }}</td>
            <td>{{ p.price | currency:'GBP':true}}</td>
            <td><a [routerLink]="['/admin/product/', p.id]">Edit</a></td>
        </tr>
    </tbody>
</table>